<ion-header>
  <ion-toolbar color="ugreen">

    <ion-buttons slot="start" >
      <ion-back-button color="light" defaultHref="/post" ></ion-back-button>
    </ion-buttons>

    <ion-title color="light">Historial de reintegros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card >
      <ion-card-header>
        <ion-card-title>
          <h1>Reintegros Activos:</h1>
        </ion-card-title>
      </ion-card-header>
      <ion-item *ngFor="let reintegroactivo of reintegrosActivos">
        <ion-icon slot="start" color="tertiary" name="flag-outline">        </ion-icon>
        <ion-grid fixed>
          <ion-row>
            <ion-col>
              Fecha: {{reintegroactivo.fecha.day}}/{{reintegroactivo.fecha.month}}/{{reintegroactivo.fecha.year}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              Refrencia: {{reintegroactivo.referencia}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="4">
              <ion-button fill="clear" (click)="pagoTarjeta(reintegroactivo)">
                <ion-icon slot="end" color="success" class="icono" name="card-outline"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="4">
              <ion-button fill="clear" (click)="pagoCuenta(reintegroactivo)">
                <ion-icon slot="end" color="warning" class="icono" name="journal-outline"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="4">
              <ion-button fill="clear" (click)="onClick(reintegroactivo.idReintegro)">
                <ion-icon slot="end" color="danger" class="icono" name="close-circle-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-card> 

    <ion-card >
      <ion-card-header>
        <ion-card-title>
          <h1>Reintegros Cancelados:</h1>
        </ion-card-title>
      </ion-card-header>
      <ion-item *ngFor="let reintegrocancelado of reintegrosCancelados" >
        <ion-icon slot="start" color="tertiary" name="close-outline"></ion-icon>
        <ion-grid fixed>
          <ion-row>
            <ion-col>
              Fecha: {{reintegrocancelado.fecha.day}}/{{reintegrocancelado.fecha.month}}/{{reintegrocancelado.fecha.year}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              Refrencia: {{reintegrocancelado.referencia}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-card> 

    <ion-card >
      <ion-card-header>
        <ion-card-title>
          <h1>Reintegros Exitosos:</h1>
        </ion-card-title>
      </ion-card-header>
      <ion-item *ngFor="let reintegrosexitoso of reintegrosExitosos" >
        <ion-icon slot="start" color="tertiary"name="checkmark-outline"></ion-icon>
        <ion-grid>
          <ion-row>
            <ion-col>
              Fecha: {{reintegrosexitoso.fecha.day}}/{{reintegrosexitoso.fecha.month}}/{{reintegrosexitoso.fecha.year}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              Refrencia: {{reintegrosexitoso.referencia}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-card> 
  </ion-list>
</ion-content>
<style>
  .icono{
    font-size: 30px;
  }
</style>