<ion-header>
  <ion-toolbar color="ugreen">

    <ion-buttons slot="start" >
      <ion-back-button color="light" defaultHref="/post" ></ion-back-button>
    </ion-buttons>

    <ion-title color="light">Historial de Cobros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card >
      <ion-card-header>
        <ion-card-title>
          <h1>Cobros Activos:</h1>
        </ion-card-title>
      </ion-card-header>
      <ion-item *ngFor="let cobroactivo of cobrosActivos" >
        <ion-icon slot="start"  color="warning" name="flag-outline">
        </ion-icon>
        <ion-grid fixed>
          <ion-row>
            <ion-col>
              Fecha: {{cobroactivo.fecha.day}}/{{cobroactivo.fecha.month}}/{{cobroactivo.fecha.year}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              Monto: {{cobroactivo.monto}}
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-button fill="clear" (click)="onClick(cobroactivo.idPago)">
          <ion-icon slot="end" color="danger" class="cancelar" name="close-circle-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-card> 

    <ion-card >
      <ion-card-header>
        <ion-card-title>
          <h1>Cobros Cancelados:</h1>
        </ion-card-title>
      </ion-card-header>
      <ion-item *ngFor="let cobrocancelado of cobrosCancelados" >
        <ion-icon slot="start" color="danger" name="close-outline">
        </ion-icon>
        <ion-grid fixed>
          <ion-row>
            <ion-col >
              Fecha: {{cobrocancelado.fecha.day}}/{{cobrocancelado.fecha.month}}/{{cobrocancelado.fecha.year}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col >
              Monto: {{cobrocancelado.monto}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-card>

    <ion-card >
      <ion-card-header>
        <ion-card-title>
          <h1>Cobros Exitosos:</h1>
        </ion-card-title>
      </ion-card-header>
      <ion-item *ngFor="let cobroexitoso of cobrosExitosos" >
        <ion-icon slot="start" color="success" name="checkmark-outline">
        </ion-icon>
        <ion-grid fixed>
          <ion-row>
            <ion-col >
              Fecha: {{cobroexitoso.fecha.day}}/{{cobroexitoso.fecha.month}}/{{cobroexitoso.fecha.year}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col >
              Monto: {{cobroexitoso.monto}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-card>

  </ion-list>
</ion-content>

<style>
  .cancelar{
    font-size: 30px;
  }
</style>